In [1]:
import pandas as pd

# Milk report

In [4]:
df_milk = pd.read_csv('../data/reports/report_milk_20240601_20240630.csv')

In [5]:
df_milk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3650 non-null   object
 1   day              3650 non-null   object
 2   milk_production  3650 non-null   float64
dtypes: float64(1), object(2)
memory usage: 85.7+ KB

In [9]:
df_milk.sort_values(by=['id','day'])

                                        id         day  milk_production
3649  008d8c76-b26e-4780-b65a-cec19c9984b6  2024-06-01             9.34
3648  008d8c76-b26e-4780-b65a-cec19c9984b6  2024-06-02             4.78
3647  008d8c76-b26e-4780-b65a-cec19c9984b6  2024-06-03             9.40
3646  008d8c76-b26e-4780-b65a-cec19c9984b6  2024-06-04            14.28
3645  008d8c76-b26e-4780-b65a-cec19c9984b6  2024-06-05            18.78
...                                    ...         ...              ...
4     fed3a6af-8729-4ac6-920a-f5487cb00dd9  2024-06-25            19.34
3     fed3a6af-8729-4ac6-920a-f5487cb00dd9  2024-06-26            24.06
2     fed3a6af-8729-4ac6-920a-f5487cb00dd9  2024-06-27            14.33
1     fed3a6af-8729-4ac6-920a-f5487cb00dd9  2024-06-28            14.55
0     fed3a6af-8729-4ac6-920a-f5487cb00dd9  2024-06-29             9.50

[3650 rows x 3 columns]

In [ ]:
# Plot milk production per cow over time
import matplotlib.pyplot as plt
# Ensure 'day' is datetime and 'milk_production' is numeric
df_milk['day'] = pd.to_datetime(df_milk['day'], errors='coerce')
df_milk['milk_production'] = pd.to_numeric(df_milk['milk_production'], errors='coerce')
# Pivot so each column is a cow (id) and index is day
pivot = df_milk.pivot(index='day', columns='id', values='milk_production').sort_index()
plt.figure(figsize=(12,6))
# Plot all cows; marker helps see points
pivot.plot(marker='o', ax=plt.gca())
plt.title('Milk Production per Cow Over Time')
plt.xlabel('Day')
plt.ylabel('Milk Production')
plt.grid(True)
plt.legend(title='Cow ID', bbox_to_anchor=(1.02, 1), loc='upper left')
plt.tight_layout()
plt.show()

KeyError: 'day'

In [ ]:
# Milk report

# Weights report

In [10]:
df_milk = pd.read_csv('../data/reports/report_weights_20240630.csv')

In [ ]:
df_milk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3650 non-null   object
 1   day              3650 non-null   object
 2   milk_production  3650 non-null   float64
dtypes: float64(1), object(2)
memory usage: 85.7+ KB

In [ ]:
df_milk.sort_values(by=['id','day'])

                                        id         day  milk_production
3649  008d8c76-b26e-4780-b65a-cec19c9984b6  2024-06-01             9.34
3648  008d8c76-b26e-4780-b65a-cec19c9984b6  2024-06-02             4.78
3647  008d8c76-b26e-4780-b65a-cec19c9984b6  2024-06-03             9.40
3646  008d8c76-b26e-4780-b65a-cec19c9984b6  2024-06-04            14.28
3645  008d8c76-b26e-4780-b65a-cec19c9984b6  2024-06-05            18.78
...                                    ...         ...              ...
4     fed3a6af-8729-4ac6-920a-f5487cb00dd9  2024-06-25            19.34
3     fed3a6af-8729-4ac6-920a-f5487cb00dd9  2024-06-26            24.06
2     fed3a6af-8729-4ac6-920a-f5487cb00dd9  2024-06-27            14.33
1     fed3a6af-8729-4ac6-920a-f5487cb00dd9  2024-06-28            14.55
0     fed3a6af-8729-4ac6-920a-f5487cb00dd9  2024-06-29             9.50

[3650 rows x 3 columns]

In [13]:
# Plot milk production per cow over time
import matplotlib.pyplot as plt
# Ensure 'day' is datetime and 'milk_production' is numeric
df_milk['day'] = pd.to_datetime(df_milk['day'], errors='coerce')
df_milk['milk_production'] = pd.to_numeric(df_milk['milk_production'], errors='coerce')
# Pivot so each column is a cow (id) and index is day
pivot = df_milk.pivot(index='day', columns='id', values='milk_production').sort_index()
plt.figure(figsize=(12,6))
# Plot all cows; marker helps see points
pivot.plot(marker='o', ax=plt.gca())
plt.title('Milk Production per Cow Over Time')
plt.xlabel('Day')
plt.ylabel('Milk Production')
plt.grid(True)
plt.legend(title='Cow ID', bbox_to_anchor=(1.02, 1), loc='upper left')
plt.tight_layout()
plt.show()

KeyError: 'day'